.forsalehome-con{
    /* border: 1px solid black; */
    display: grid;
    height: 25rem;
    grid-template-columns: 30% 30% 30%;
    margin: 1rem 0rem;
    justify-content: space-evenly;
}
.forsalesub-con{
    /* border: 1px solid black; */
    box-shadow: 0px 4px 4px 0px #EBD734;

}
.sale-image{
    height: 15rem;
    padding: 0.5rem;
}
.home-sale-price{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-sale-price span{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;

}
.home-sale-bedroom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-sale-bedroom span{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
}
.home-sale-address{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-sale-address span{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
}
.forsale-home-rooms{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}
.forsale-home-rooms div{
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.forsale-home-rooms div span{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
}
.sale-head{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;

}