.home-con{
    /* margin: 0.6rem 2rem; */
    /* border: 1px solid black; */
    margin-top:7%;
   
}

.main-img{
    height: 30rem;
    position: relative;
    margin-bottom: 5rem;
    /* border: 1px solid black; */
   
}
.main-img img{
    width: 100%;
    height: 100%;
}

.main-serch {
    position: absolute;
    top: 95%;
    left: 15%;
    transform: translateY(-50%);
    width: 70%;
    height: 8rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #D7DB14;
    border-radius: 10px;
    background-color: white;
}
.serch-routes{
    display: flex;
    column-gap: 2rem;
    justify-content: left;
      /* border: 1px solid black; */
      padding: 0.5rem 4rem;
}
.serch-routes h1{
    background-color: white;
    padding: 0.5rem 0rem;
    padding-bottom: 0rem;
   
    font-family: Roboto;
    font-size: 20px;
    font-weight: 200;
    line-height: 23px;
    letter-spacing: 0rem;
   
 
}
.serch-routes:hover{
    cursor: pointer;
}
.search-field-home{
    margin: 0px;
    padding: 0rem 4rem;
    margin: 1rem 0rem;
    
}
.search-field-sub-home{
    border: 1px solid #C0C0C0;
}
.sale-home-con{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.sub-card{
    width: 30%;
    /* border: 1px solid #F1E36E; */
    box-shadow: 0px 4px 4px 0px #EBD734;
   background-color: white;
}
.sub-card:hover{

   background-color: white;
}
.cardimg{
   width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0rem;

}
.room-list-new{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    padding: 1rem 0rem;
    /* border: 1px solid black; */
}
.sale-head{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;

}
.showmoreproperty{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: right;
    color: #994E04;
    margin: 1rem;

}
.showmoreproperty:hover{
    cursor: pointer;
}
.sale-section{
    /* border: 1px solid black; */
    padding: 1rem 3rem;
   
}