.main-div {
  margin-top: 8px;
  border: 2px sold red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
   

  .img-logo{
    width: 72%;
    height: 35%;
  }
  

  .form-in {
    /* border: 2px solid blue; */
    background-color:whitesmoke;
    border-radius: 5px;
    min-width: 350px;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    
  }
  
  .button2{
    background-color: #9E5C08;
    width:auto;
    height: 30px;
    color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;   
  }
  
  @media screen and (max-width: 650px) {
    .first-image {
      display: none;
    }
    .form-in{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
     align-content: center;
      justify-content: center;
  
    }
   
  }
  