.form{
  display: flex;
  flex-direction: column;
}
.inputs{
    width: 20%;
    height: 30px;
    border-radius: 10px;
}
.button{
    width: 20%;
    height: 40px;
    font-size: large;
    border-radius: 40px;
}