.total-div{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
border: 3px solid black;
margin-bottom: 10px;
margin-top: 10px;
}
.form-field{
  width: 30%;
  height: 100%;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  text-align: center;
  min-width: 400px;
  flex-wrap: wrap;
}


.inputs{
  
    
}
.buttons12{
  background-color: #9E5C08;
  width: 50%;
  height: 40px;
 margin-left: auto;
 margin-right: auto;
  color: aliceblue;
  border: none;
  border-radius: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 300px; /* Adjust as needed */
  margin: auto;
}


.form-out{
  width: 100%;
  height: 100%;
  margin-bottom: 6px;
  border: 2px solid blue;
  

}
