.maincont{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 7px;
    font-family: "Roboto";
}
.imag{
    height: 80vh;
    width: 100%;
    border-radius: 20px;
}
.aboutpara{
    margin-left: 80px;
    margin-right: 50px;
    padding: 10px;
}
.dd{
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}
.simage{
    height: 30vh;
    width: 50%;
    border-radius: 15px;
    margin-right: 20px;
}

.b1para{
    background-color: #E9A361;
    border-radius: 10px;
    padding: 10px;
    line-height: 20px;
    margin-bottom: 20px;
}
.sp{
    color: #E9A361;
    font-size:50px
}
.wel{
    color: #955108;
}
@media screen and (max-width: 768px) {
    .dd{
        display: flex;
        flex-direction: column;
    }
    .simage{
        width: 100%;
        padding-right: 1px;
    }
    .maincont{
        margin: 5px;
        margin-top: 10px;
    }
    .aboutpara{
        margin: 10px;
    }
    .sp{
        font-size: 40px;
    }
    .imag{
        height: 50vh;
    }
}