.navbar-con{
    height: 5rem;
    background-color: white;
    color: #955108;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-bottom: 30px;
    border-bottom: 3px solid #955108;
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
    /* border: 1px solid black; */
}
.nav-below{
    display: flex;
    justify-content: space-around;
}
.route{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}
.route,.routesignin:hover{
   cursor: pointer;
}
.routesignin{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.select{
    border: none;
    width: 150px;
    height: 40px;
    background: #955108;
    border-radius: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
.false-class{
    height: 7rem;
    background-color: white;
    color: #955108;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* row-gap: 1.5rem; */
    border-bottom: 3px solid #955108;
}