.mainco{
    margin: 50px;
}
.calimage{
    height: 40px;
    width: 40px;
}
.maincoos{
    margin: 80px;
    font-family:"Roboto";
}

.inp{
    width: 90%;
    height:50px;
    margin-top: 20px;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(215, 200, 200);
}
/* .inp2{
    width: 70%;
    height:50px;
    margin-top: 20px;
    border: 2px;
    border-style: solid;
    /* border-radius: 10px; */
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    /* border-color: rgb(215, 200, 200); */
/* } */ */
/* .inp2b{
    width: 10%;
    height: 55px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: orange;
}
.inp2d{
    display: flex;
    flex-direction: row;
} */
.bun{
    padding: 10px;
    cursor: pointer;
    border: none;
    background: none;
    margin: 30px;
    font-size: 16px;
    outline: none;
}
.bb2{
    margin-top: 30px;
    height: 50px;
    width: 15%;
    border-radius: 15px;
    color: white;
    border: none;
    background-color: #9E4D00;
}
.bb1 {
    padding: 10px;
    cursor: pointer;
    border: none;
    background: none;
    margin: 30px;
    font-size: 16px;
    outline: none;
    border-bottom:gold;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  

  .custom-popup {
    display: block;
    position: fixed;
    color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color:#9E4D00;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
@media screen and (max-width:768px) {
    .bb2{
        margin:5px;
        width: 40%;
        color: white;
    }
    /* .inp2b{
        width: 20%;
    } */
    .maincoos{
        margin: 2px;
    }
}